@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef3f5;
}


.button-container{
    border: 1px solid rgb(126, 164, 179);
    padding: 15px;
    border-radius: 7px;
    box-shadow: inset 0 20px 4px -19px rgba(94, 141, 160, 0.7);
}

button{
    cursor: pointer;
    outline: none;
    width: 120px;
    height: 45px;
    background:linear-gradient(to top, #aec7ce, #dee8eb );
    border-color:rgba(94, 141, 160, 0.7);
    font-family: Barlow, sans-serif;
    font-size: 20px;
    text-shadow: 0 2px 5px black;
    border-radius: 5px;
    box-shadow:inset 0 20px 4px -19px rgba(94, 141, 160, 0.5), 
    0 12px 12px 0 rgba(190, 210, 216, 0.7);
}


button:hover{
    background: linear-gradient(to bottom, #aec7ce, #dee8eb);
}

button:active{
    transform: translateY(3px);
    box-shadow: 0 6px 6px 0 rgba(190, 210, 216, 0.7) ;
}



